h1 {
  color: #79C1E7;
  font-family: arial;
  font-size: 30px;
  margin-top: 0; }

h2 {
  color: #D3D9DE;
  font-style: italic;
  font-size: 10px;
  margin: 0;
  margin-top: 10px;
  margin-bottom: 4px; }

.container {
  width: 990;
  padding-top: 30px;
  padding-left: 30px;
  display: block; }

.time {
  text-align: right; }

.circle {
  width: 40px;
  height: 40px;
  border: 6px solid #B5DDF4;
  border-radius: 50%;
  background-color: #79C1E7; }

.circle i {
  color: white;
  font-size: 25px;
  left: 9px;
  position: relative;
  top: 1px; }

.divider {
  height: 100%; }

.line {
  height: 270px;
  margin-left: 17px;
  width: 7px;
  background-color: #B5DDF4; }

.content {
  background-color: #79C1E7;
  height: 300px;
  border-radius: 7px 7px 7px 7px;
  margin-top: 10px; }

.notch {
  position: absolute;
  top: 20px;
  left: -10px;
  margin: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid #79C1E7;
  padding: 0;
  width: 0;
  height: 0; }
