h1 {
  color: #79C1E7;
  font-family: arial;
  font-size: 30px;
  margin-top: 0; }

h2 {
  color: #D3D9DE;
  font-style: italic;
  font-size: 10px;
  margin: 0;
  margin-top: 10px;
  margin-bottom: 4px; }

h3 {
  color: white;
  font-family: helvetica;
  font-style: bold;
  font-size: 25px; }

p {
  font-family: arial;
  color: white;
  font-size: 14px; }

.container {
  width: 990;
  padding-top: 30px;
  display: block;
  align: left; }

.time {
  text-align: right;
  padding-right: 0; }

.circle {
  width: 40px;
  height: 40px;
  border: 6px solid #B5DDF4;
  border-radius: 50%;
  background-color: #79C1E7; }

.circle i {
  color: white;
  font-size: 25px;
  left: 9px;
  position: relative;
  top: 1px; }

.divider {
  height: 100%; }

.line {
  height: 275px;
  margin-top: -2px;
  margin-left: 17px;
  width: 7px;
  background-color: #B5DDF4; }

.content {
  background-color: #79C1E7;
  height: 300px;
  border-radius: 7px 7px 7px 7px;
  margin-top: 10px; }

.notch {
  position: absolute;
  top: 13px;
  left: -10px;
  margin: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid #79C1E7;
  padding: 0;
  width: 0;
  height: 0; }

.header {
  margin-top: -10px; }
  .header h3 {
    border-bottom: 1px solid white;
    padding-bottom: 15px; }

.top {
  padding-top: 10px; }
  .top .bottom {
    margin-top: 15px;
    margin-left: 5px; }

.time2 {
  text-align: right;
  padding-right: 0; }
  .time2 h1 {
    color: #4eaddf; }

.circle2 {
  width: 40px;
  height: 40px;
  border: 6px solid #B5DDF4;
  border-radius: 50%;
  background-color: #79C1E7;
  background-color: #4eaddf; }

.content2 {
  height: 300px;
  border-radius: 7px 7px 7px 7px;
  margin-top: 10px;
  background-color: #4eaddf; }
  .content2 .notch {
    position: absolute;
    top: 13px;
    left: -10px;
    margin: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid #79C1E7;
    padding: 0;
    width: 0;
    height: 0;
    border-right: 10px solid #4eaddf; }

.tv i {
  color: white;
  font-size: 19px;
  left: 4px;
  position: relative;
  top: 4px; }

.time3 {
  text-align: right;
  padding-right: 0; }
  .time3 h1 {
    color: #2698d4; }

.circle3 {
  width: 40px;
  height: 40px;
  border: 6px solid #B5DDF4;
  border-radius: 50%;
  background-color: #79C1E7;
  background-color: #2698d4; }

.content3 {
  height: 300px;
  border-radius: 7px 7px 7px 7px;
  margin-top: 10px;
  background-color: #2698d4; }
  .content3 .notch {
    position: absolute;
    top: 13px;
    left: -10px;
    margin: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid #79C1E7;
    padding: 0;
    width: 0;
    height: 0;
    border-right: 10px solid #2698d4; }

.car i {
  color: white;
  font-size: 18px;
  left: 4px;
  position: relative;
  top: 4px; }

.time4 {
  text-align: right;
  padding-right: 0; }
  .time4 h1 {
    color: #1e79a9; }

.circle4 {
  width: 40px;
  height: 40px;
  border: 6px solid #B5DDF4;
  border-radius: 50%;
  background-color: #79C1E7;
  background-color: #1e79a9; }

.content4 {
  height: 300px;
  border-radius: 7px 7px 7px 7px;
  margin-top: 10px;
  background-color: #1e79a9; }

.content4 .notch {
  position: absolute;
  top: 13px;
  left: -10px;
  margin: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid #79C1E7;
  padding: 0;
  width: 0;
  height: 0;
  border-right: 10px solid #1e79a9; }

.comment i {
  color: white;
  font-size: 18px;
  left: 5px;
  position: relative;
  top: 3px; }

.time5 {
  text-align: right;
  padding-right: 0; }

.time5 h1 {
  color: #165a7e; }

.circle5 {
  width: 40px;
  height: 40px;
  border: 6px solid #B5DDF4;
  border-radius: 50%;
  background-color: #79C1E7;
  background-color: #165a7e; }

.content5 {
  height: 300px;
  border-radius: 7px 7px 7px 7px;
  margin-top: 10px;
  background-color: #165a7e; }

.content5 .notch {
  position: absolute;
  top: 13px;
  left: -10px;
  margin: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid #79C1E7;
  padding: 0;
  width: 0;
  height: 0;
  border-right: 10px solid #165a7e; }

.mail i {
  color: white;
  font-size: 18px;
  left: 5px;
  position: relative;
  top: 3px; }
